@import url('https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap');

/*overall styles*/
html {
  background: url(https://www.maxpixel.net/static/photo/2x/Antique-Background-Abstract-Crumpled-Empty-Paper-2537807.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Crimson Pro';
  font-size: 1.1em;
}

div#main {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}

a {
  text-decoration: none;
  color: black;
}
  
a:hover {
  color: blue;
}

/*Header styles*/
header#header {
  display: flex;
  justify-content: space-between;
  background-color: lightyellow;
  border-top: solid yellow 10px;
  position: fixed;
  top: 0;
}

/*Header Img styles*/
header#header img {
  width: 10%;
  padding-left: 40px;
}

/*Nav styles*/
header#header a {
  font-weight: bold;
  padding: 40px;
  font-size: 1.2em;
}

h1 {
  text-align: center;
}

input#email {
  display: block;
  margin: 10px auto;
  width: 20%;
  border: groove #add8e6;
  padding: 8px;
}

input#submit {
  display: block;
  margin: 20px auto;
  font-size: 1.1em;
  color: yellow;
  background-color: black;
}

/*Lessons styles*/
section#lessons-main {
  padding: 20px;
  border-top: solid yellow;
}

section#lessons-main > ul {
  list-style: none;
}

section#lessons-main> ul img{
  width: 3%;
}

section#lessons-main > ul strong{
  font-size: 1.3em;
}

li#violin img{
  transform: rotate(90deg);
}

section#lessons-main strong {
  border-bottom: solid yellow;
}

/*Benefits styles*/
section#benefits-main {
  padding: 20px;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

/*Pricing styles*/
section#price-main {
  padding: 20px;
}

div.pricing {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: solid yellow;
}

div.pricing h3 {
  background-color: yellow;
}

div.sub {
  width: 25%;
}

/*Footer styles*/
footer > nav, footer > span{
  display: flex;
  justify-content: flex-end;
}

footer > nav a, footer > span {
    padding: 10px;
}


/*Media query*/
@media only screen and (min-width: 1001px) {
  section#lessons-main> ul img{
  width: 3%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  section#lessons-main> ul img{
  width: 4%;
  }
  
  iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
}

@media only screen and (max-width: 600px) {
  header#header a {
    font-weight: bold;
    padding: 30px;
    font-size: 1em;
  }
  
  section#lessons-main> ul img{
    width: 8%;
  }
  
  iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }
}

/*Anchor styles*/
a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}
